---
layout: default
---

<div class="home">

		<!-- Slider Setup -->
		<input checked type=radio name=slider id=slide1 />
		<input type=radio name=slider id=slide2 />
		<input type=radio name=slider id=slide3 />
		<input type=radio name=slider id=slide4 />
		<input type=radio name=slider id=slide5 />

		<!-- The Slider -->
		<div id=slides>
			<div id=overflow>
				<div class=inner>
					<article>
						<img src="assets/images/hld_web_banner.jpg" />
					</article>

					<article>
						<img src="assets/images/hld_web_banner.jpg" />
					</article>

					<article>
						<img src="assets/images/hld_web_banner.jpg" />
					</article>

					<article>
						<img src="assets/images/hld_web_banner.jpg" />
					</article>

					<article>
						<img src="assets/images/hld_web_banner.jpg" />
					</article>
				</div> <!-- .inner -->
			</div> <!-- #overflow -->
		</div> <!-- #slides -->

		<!-- Controls and Active Slide Display -->

		<div id=controls>
			<label for=slide1></label>
			<label for=slide2></label>
			<label for=slide3></label>
			<label for=slide4></label>
			<label for=slide5></label>
		</div> <!-- #controls -->

		<div id=active>
			<label for=slide1></label>
			<label for=slide2></label>
			<label for=slide3></label>
			<label for=slide4></label>
			<label for=slide5></label>
		</div> <!-- #active -->

</div>
